.header {
  width: 100%;
  background-color: #48484a;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .logo {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 480px) {
      width: 100px;
    }
    @media screen and (min-width: 720px) {
      width: 150px;
    }
    @media screen and (min-width: 1280px) {
      width: 200px;
    }
    .icon {
      transform: scale(2);
      color: orange;
    }
    .name {
      display: none;
      font-size: 12px;
      color: #6c757d;
      margin-bottom: 0;
      @media screen and (min-width: 480px) {
        display: block;
      }
      @media screen and (min-width: 720px) {
        font-size: 16px;
      }
      @media screen and (min-width: 1280px) {
        font-size: 24px;
      }
    }
  }
  .input {
    width: 150px;
    @media screen and (min-width: 480px) {
      width: 200px;
    }
    @media screen and (min-width: 720px) {
      width: 350px;
    }
    @media screen and (min-width: 1280px) {
      width: 450px;
    }
  }
  .button {
    font-size: 12px;
    padding: 5px;
    height: 38px;
    @media screen and (min-width: 480px) {
      height: 42.5px;
    }
  }
}
